p {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    column-gap: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem 0;
    padding: 5px 10px 5px 0px;
    border: none;
}
.location:hover, .location:active, .location:focus {
    outline: 2px solid gray;
    border-radius: 3px;
    font-weight: normal;
    padding: 5px 10px;
}