.container {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    column-gap: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}