body {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(360px, 700px);
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

.loading, .loading input, .loading select, .loading .alert a {
    color: gray;
    cursor: not-allowed;
}
.loading .alert {
    border-color: gray;
    background-color: lightgray;
}

.container {
    display: grid;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    gap: 10px;
}
@media (max-width: 630px) {
  .header {grid-template-columns: 1fr;}
}

#unitGroup {
    padding: 4px 8px;
    border-color: cadetblue;
    background-color: transparent;
    border-radius: 3px;
    height: 2rem;
}

.current {
    display: flex;
    align-items: start;
    gap: 20px;
}

.sun {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sun img {
    height: 1.5rem;
}

.text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 5px 35px 5px 0px;
    border: none;
    background: url(./icons/magnify.svg) no-repeat right/2rem;
}
.location:hover, .location:active, .location:focus {
    outline: 2px solid cadetblue;
    border-radius: 3px;
    font-weight: normal;
    padding: 5px 35px 5px 10px;
}

.alerts {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.alert {
    padding: 5px 10px;
    background-color: pink;
    border: 2px solid red;
    border-radius: 5px;
}

.alert a {
    color: red;
    text-decoration: none;
}
.alert a:hover {
    text-decoration: underline;
}

.days {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.day {
    display: grid;
    justify-items: center;
    align-content: space-between;
    grid-template-columns: max-content;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}

.weekday {
    font-weight: 600;
}

.day .icon {
    max-height: 50px;
    max-width: 60px;
}

.forecast {
    font-size: 0.9rem;
}